<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/data" method="post">
         <input type="text" name="username" placeholder="name">
         <input type="text" name="password" placeholder="password">
         <input type="submit">
    </form>
     <table border="1">
        <tr>
            <th>Name:</th>
            <th>password:</th>
        </tr>
        <% usr1.map((el,i)=>{%>
            <tr>
                <td><%=el.username%></td>
                <td><%=el.password%></td>
                <td><a href="/delete?id=<%=el._id%>">Delete</a></td>
                <td><a href="/edit?id=<%=el._id%>">Edit</a></td>
            </tr>
            <%})%>
        </table>
</body>
</html>