<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editdata" method="post">
        <input type="hidden" name="id" value="<%=edited.id%>">
        <input type="text" name="username"  value="<%=edited.username%>" placeholder="username">
        <input type="text" name="password"  value="<%=edited.password%>" placeholder="password">
        <input type="submit">
    </form>
    
</body>
</html>