<form action="/editData" method="post">
  <input type="hidden" name="id" value="<%= userdata._id %>">
  <input type="text" name="username" value="<%= userdata.username %>" placeholder="username">
  <input type="text" name="password" value="<%= userdata.password %>" placeholder="password">
  <input type="submit" value="Update">
</form>
