<!DOCTYPE html>
<html>
<head>
  <title>Forget Password</title>
</head>
<body>

<h2>Reset Password</h2>

<form action="/user/forget" method="post">
  <input type="text" name="username" placeholder="Username" required />
  <br /><br />
  <input type="text" name="newpassword" placeholder="New Password" required />
  <br /><br />
  <input type="submit" value="Reset Password" />
</form>

</body>
</html>
